<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.CarMapper">

    <select id="search" resultType="com.example.Car">
        select * from CAR
        <where>
            <if test="model != null ">
                model = #{model}
            </if>
            <if test=" year  != null and year != 0">
               and year = #{year}
            </if>
        </where>
    </select>
</mapper>